<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <ul>
      <%
        var list = '';
        list+='<style>';
        list+='body{padding:10px;background-image:linear-gradient(#25274d,#464866);color:white;font-size:15px;}';
        list+='li{padding:8px;font-family:"Georgia";color:#aaabb8;}';
        list+='</style>';      
        list+='<h1>List of events registered!</h1>'
        for (i = 0; i < events.length; i++) {
          
          list += 'Event id: '+events[i].eid;
          list += '<li>Client id: '+events[i].cid+'</li>';
          list += '<li>Type of event: '+events[i].type+'</li>';
          list += '<li>Name of the event: '+events[i].name+'</li>';
          list += '<li>Description: '+events[i].description+'</li>';
          list += '<li>Venue: '+events[i].venue+'</li>';
          list += '<br>';
        }
        return list;
      %>
    </ul>
    <p>this ends here</p>
  </body>
</html>