<!DOCTYPE html>
<html>
<head>
	<title>Successful</title>
	<style type="text/css">
		body{
			background-image:linear-gradient(to right,#55bcc9,#3feee6);
			color:#cafefe;
		}
		
	</style>
</head>
<body>
	<h3>Success!!!!!</h3>

</body>
</html>